.font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.header{
background-image: url('../assets/Hero-bg.png');
position:absulate;
width: 1440px;
height: 652px;
margin-left: -2px;
margin-right: px;
margin-top: 125px;
margin-bottom: 4468px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
border: dashed;
border-color: rgb(214, 211, 211);
border-width: 2px;
}
.header-title{
    width: 998px;
    height: 136px;
    padding-left: 182px;
    padding-right: 260px;
    text-align: center;
}
.developer {
 padding-left: 85px;
}
.header-content{
    width: 852px;
    height: 52px;
    padding-left: 345px;
    padding-right: 320px;
    font-size: 16px;
}
.btn{
  width: auto 208px;
  height:auto 66px;
  border-radius: 8px;
  background-color: rgb(13, 19, 33);
  margin: 32px 0px;
  justify-content: center;
align-items: center;
padding: 22px 24px 21px 24px;
}


